/* Mobile devices  */
@media screen and (max-width: 576px) {
  .products-img-container img {
    width: 100%;
    object-fit: cover;
  }
  .products-section,
  .banner-section {
    flex-direction: column-reverse;
    margin: 10px 20px;
  }
  .banner-section,
  .products-section {
    align-items: center;
    justify-content: center;
  }
  .products-section,
  .text-container {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
}
